<header class="bg-slate-900">
    <div class="logo"></div>
    <div class="nav-items p-2">
        <div class="nav-item block text-white text-center p-2 hover:bg-slate-800 rounded-xl">
            <a [routerLink]="['/admin','list']" routerLinkActive="router-link-active" >Student List</a>
        </div>
        <div class="nav-item block text-white text-center p-2 hover:bg-slate-800 rounded-xl">
            <a [routerLink]="['/admin','request']" routerLinkActive="router-link-active" >Entry request</a>
        </div>
        <!-- <div class="nav-item block text-white text-center p-2 hover:bg-slate-800 rounded-xl">
            <a [routerLink]="['/student','list']" routerLinkActive="router-link-active" >Student List</a>
        </div> -->
    </div>
</header>
