<div class="flex flex-wrap gap-3">
  @for (student of Students; track student) {
    <app-university-student [Student]="student"></app-university-student>
  }
  <!-- <app-university-student></app-university-student>
  <app-university-student></app-university-student>
  <app-university-student></app-university-student>
  <app-university-student></app-university-student>
  <app-university-student></app-university-student>
  <app-university-student></app-university-student>
  <app-university-student></app-university-student> -->

</div>
