.icon-inactive{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    color: white;
    background-color: rgb(51 65 85);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-active{
    background-color: rgb(59 130 246);
}