<div class="w-full h-[100%] overflow-auto">
    <!-- <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat>
    <app-oldchat></app-oldchat> -->

    <app-oldchat *ngFor="let chat of oldmessages$ |async" [OldMessage]="chat"></app-oldchat>
</div>
