<div class="w-full h-[100%] overflow-auto">
  <!-- <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat>
  <app-oldchat></app-oldchat> -->

  @for (chat of oldmessages$ |async; track chat) {
    <app-oldchat [OldMessage]="chat"></app-oldchat>
  }
</div>
